/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	.navbar-brand {
		width: 50%;
	}
	.service_title {
		margin-top: 75px;
	}
	.service_title h1 {
		font-size: 24px;
	}
	.service_content {
		width: 95%;
		margin: 10px auto;
		margin-bottom: 40px;
	}
	footer p {
		font-size: 14px;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	.navbar-brand {
		width: 35%;
	}
	.service_title h1 {
		font-size: 25px;
	}
	.service_content {
		width: 70%;
		margin: 10px auto;
		margin-bottom: 50px;
	}
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	.navbar-brand {
		width: 20%;
	}
	.custom_cheader h1 {
		font-size: 20px;
	}
	.card-body h5 {
		font-size: 14px;
	}
	.card-body ul {
		font-size: 13px;
	}
	.btn_resize {
		padding: 10px 5px;
		font-size: 13px;
	}

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
	.navbar-brand {
		width: 18%;
	}

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1499.98px) {

}
/* Extra large devices (large desktops, 1500px and up) */
@media (min-width: 1500px) {

}